* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "monospace";
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #302f2f;
  color: white;
}

.container > * {
  min-height: 100vh;
  height: 100%;
}

.form-section {
  background-color:darkorchid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newBookForm{
  position: fixed;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#newBookForm h2 {
  font-weight: lighter;
  color: white;
}

#newBookForm .input-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  color: white;
  font-weight: bold;
}

#newBookForm button {
  width: 90%;
  align-self: center;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: gold;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.viewing-section {
  padding: 10px 15px; 
}

.viewing-section > h3 {
  font-size: 1.4em;
  margin-bottom: 12px;
}

.lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #242424;
  padding: 10px 15px;
  padding-bottom: 35px;
  max-height: 450px;
  min-height: 90px;
  height: fit-content;
}

.list .tasksNum {
  position: absolute;
  right: 10px;
}

.list .tasksContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.task {
  border: 8px solid;
  border-radius: 4px;
  background-color: #3d3d3d;
}

.list .taskTitle {
  text-overflow:ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

.Normal {
  border: none;
  padding: 8px;
}

.Important {
  border-color: #3d3d3d cornflowerblue #3d3d3d  #3d3d3d;
}

.Urgent {
  border-color: #3d3d3d red #3d3d3d  #3d3d3d;
}

.list .buttonsContainer {
  position: absolute;
  bottom: 5px;
  align-self: center;
  display: flex;
  gap: 15px;
}

.buttonsContainer > *, .buttonsDiv > * {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #141414;
  color: #eee;
  cursor: pointer;
  transition-duration: 0.2s;
}

.buttonsContainer > *:hover, .buttonsDiv > *:hover {
  font-weight: bold;
  background-color: #3a3939;
}

button.addTask, button.doneBtn {
  color:rgb(15, 173, 20);
}

button.deleteList {
  color: red;
}

dialog {
  justify-self: center;
  align-self: center;
  border: none;
  height: 95vh;
  max-width: 50vw;
  width: 50vw;
  background-color: #242424;
  color: #eee;
  border: 1px solid grey;
  border-radius: 7px;
  box-shadow: 0px 0px 21px 28px #181818d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

dialog form {
  width: 99%;
  justify-items: center;
}

dialog .input-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
  width: 85%;
}

dialog label {
  font-size: 1.2em;
}

dialog input, dialog select {
  font-size: 1.1em;
  padding: 5px;
  background: #242424;
  outline: none;
  border: 1px solid grey;
  border-radius: 10px;
  color: #eee;
}

dialog input:focus, dialog select:focus {
  border: 1px solid orchid;
  box-shadow: 0px 10px 13px -7px #121212;
}

/* make autofilled inputs have same bg color and text color */
dialog input:-webkit-autofill,
dialog input:-webkit-autofill:hover, 
dialog input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #242424 inset;
  -webkit-text-fill-color: #eee;
}

/* change the color of the calendar icon in date inputs */
dialog input[type="date"] {
  color-scheme: dark;
}

dialog .buttonsDiv {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.buttonsDiv > button {
  font-size: 1.2em;
  padding: 3px 5px;
  width: 100px;
}

.titleDiv {
  display: flex;
}